@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  @apply bg-gray_100 text-gray_900 font-inter;
  -webkit-font-smoothing: antialiased;
}

button {
  cursor: pointer;
}